.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .css-selector {
  background: linear-gradient(234deg, #ea1937, #19eab4, #1668d6);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}
@keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
} */

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
